@model SiteOverseer.Models.Contractor

@{
    ViewData["Title"] = "Contractor";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">
                    Are you sure you want to delete this?
                </h3>
            </div>
            <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CntorId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CntorId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CntorNme)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CntorNme)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FciltypId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FciltypId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProgpayId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProgpayId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Establisheddte)
                        </dt>
                        <dd class="col-sm-10">
                        @Convert.ToDateTime(Model.Establisheddte).ToString("dd MMM yyy hh:mm:ss tt")
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BadStatus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BadStatus)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Remark)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Remark)
                        </dd>
                        
                    </dl>
            </div>

            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CntorId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</section>




