@model SiteOverseer.Models.Contractor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CntorNme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CntorNme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FciltypId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FciltypId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgpayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgpayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Establisheddte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Establisheddte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevDtetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevDtetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CntorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
