@model SiteOverseer.Models.WbsDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WbsDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsdCde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsdCde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevdTetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevdTetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WbsdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
