@model SiteOverseer.Models.Menugp

@{
    ViewData["Title"] = "Menu Group";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">   
                <h3 class="card-title">@ViewData["Title"] Details </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MnugrpId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MnugrpId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MnugrpNme)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MnugrpNme)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RevdTetime)
                    </dt>
                    <dd class="col-sm-10">
                        @Convert.ToDateTime(Model.RevdTetime).ToString("dd MMM yyyy hh:mm:ss tt") 
                    </dd>
                    
                </dl>
            </div>

        </div>
    </div>
</section>
</section>



