@model SiteOverseer.Models.Menugp

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>Menu Group Details</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Create" class="btn btn-primary">Back to List<i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MnugrpId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MnugrpId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MnugrpNme)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MnugrpNme)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RevdTetime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RevdTetime)
    </dd>
</dl>
</div>



