@model SiteOverseer.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MnugrpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MnugrpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevdTetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevdTetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
