@model IEnumerable<SiteOverseer.Models.Menuaccess>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MnugrpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BtnNme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevdTetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MnugrpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BtnNme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevdTetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
