@model SiteOverseer.Models.FacilityTask

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FacilityTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FcilId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FcilId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CntorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CntorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectionTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectionTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkstartDte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkstartDte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkendDte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkendDte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgpayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgpayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowSubmitExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowSubmitExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCompleteFlg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskCompleteFlg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevdTetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevdTetime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FciltskId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
