@model IEnumerable<SiteOverseer.Models.FacilityTask>

@{
    ViewData["Title"] = "Facility Task";
}

@section links {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

@section scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 20,
                "buttons": [{
                    extend: 'copy',
                    text: window.csvButtonTrans,
                    title: "Facility",
                    exportOptions: {
                        columns: ':not(:nth-last-child(-n + 3))'
                    }
                },
                {
                    extend: 'excel',
                    text: window.csvButtonTrans,
                    title: "Facility",
                    exportOptions: {
                        columns: ':not(:nth-last-child(-n + 3))'
                    }
                },
                {
                    extend: 'pdf',
                    text: window.csvButtonTrans,
                    title: "Facility",
                    exportOptions: {
                        columns: ':not(:nth-last-child(-n + 3))'
                    }
                },
                {
                    extend: 'print',
                    text: window.csvButtonTrans,
                    title: "Facility",
                    exportOptions: {
                        columns: ':not(:nth-last-child(-n + 3))'
                    }
                }],
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Create" class="btn btn-primary">Create New <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FcilId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WbsdId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Budget)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CntorId)
                                    </th>

                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var counter = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FcilId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WbsdId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Budget)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CntorId)
                                        </td>
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.FciltskId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.FciltskId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.FciltskId">Delete</a>
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
