@model SiteOverseer.Models.TranTypeReason

@{
    ViewData["Title"] = "Transaction Reason";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Details </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TranReasonId)
                    </dt>

                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TranReasonId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TranReasonDesc)
                    </dt>

                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TranReasonDesc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CmpyId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CmpyId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RevDtetime)
                    </dt>
                    <dd class="col-sm-10">
                        @Convert.ToDateTime(Model.RevDtetime).ToString("dd MMM yyy hh:mm:ss tt")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>

                </dl>
            </div>
            
        </div>
    </div>
</section>



