@model IEnumerable<SiteOverseer.Models.TranTypeReason>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TranReasonDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevDtetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TranReasonDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmpyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevDtetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TranReasonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TranReasonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TranReasonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
