@model SiteOverseer.Models.FacilityProgress

@{
    ViewData["Title"] = "Facility Task";
}

<section class="content">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FcilTskId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FcilTskId)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FcilNme)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FcilNme)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WbsId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WbsCde)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CntorNme)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CntorNme)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SelectionTyp)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SelectionTyp)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkstartDte)
        </dt>
        <dd class="col-sm-8">
            @Convert.ToDateTime(Model.WorkstartDte).ToString("dd MMM yyyy")
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkendDte)
        </dt>
        <dd class="col-sm-8">
            @Convert.ToDateTime(Model.WorkendDte).ToString("dd MMM yyyy")
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AwardedValue)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AwardedValue)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProgpayId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProgpayId)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AllowSubmitExpense)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AllowSubmitExpense)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TaskCompleteFlg)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TaskCompleteFlg)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FCompany)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FCompany)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RevdTetime)
        </dt>
        <dd class="col-sm-8">
            @Convert.ToDateTime(Model.RevdTetime).ToString("dd MMM yyy hh:mm:ss tt")
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FUser)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FUser)
        </dd>
    </dl>
</section>
