@model SiteOverseer.Models.FacilityProgress

@{
    ViewData["Title"] = "Facility Progress";
}

@section Scripts {
    <script>
        var images = [];
        var currentIndex = 0;

        $(document).ready(function () {
            $('.popup-image').on('click', function () {
                images = $('.popup-image').map(function () {
                    return $(this).attr('src');
                }).get();
                currentIndex = $('.popup-image').index(this);
                updateModalImage();

                if (images.length > 1) {
                    $('#prevImageBtn').show();
                    $('#nextImageBtn').show();
                } else {
                    $('#prevImageBtn').hide();
                    $('#nextImageBtn').hide();
                }

                $('#imageModal').modal('show');
            });

            $('#closeModalBtn').on('click', function () {
                $('#imageModal').modal('hide');
            });

            $('#prevImageBtn').on('click', function () {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
                updateModalImage();
            });

            $('#nextImageBtn').on('click', function () {
                currentIndex = (currentIndex < images.length - 1) ? currentIndex + 1 : 0;
                updateModalImage();
            });
        });

        function updateModalImage() {
            $('#image-popup').attr('src', images[currentIndex]);
        }
    </script>
}

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="image-popup" src="" alt="Popup Image" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="prevImageBtn" style="display: none;">Previous</button>
                <button type="button" class="btn btn-secondary" id="nextImageBtn" style="display: none;">Next</button>
                <button type="button" class="btn btn-secondary" id="closeModalBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Images</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    @if (Model.Images != null && Model.Images.Any())
                    {
                        <div class="col-12">
                            <div class="row">
                                @foreach (var image in Model.Images)
                                {
                                    var base64 = Convert.ToBase64String(image.ImageData);
                                    var imgSrc = $"data:{image.ImageContentType};base64,{base64}";

                                    <div class="col-md-4 mb-3" style="border-radius:10px; padding: 5px; max-width: 200px; max-height: 200px; overflow: hidden;">
                                        <img src="@imgSrc" class="img-thumbnail popup-image" style="width: 100%; height: 100%; object-fit: cover;" />
                                    </div>
                                }
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-12">
                            <span>No image(s) available.</span>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] History Images</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    @if (Model.ProgressHistory != null && Model.ProgressHistory.Any())
                    {
                        var groupedImages = Model.ProgressHistory
                        .OrderByDescending(ph => ph.ProgPercent)
                        .GroupBy(ph => ph.ProgPercent);

                        int groupId = 0;

                        @foreach (var group in groupedImages)
                        {
                            var collapseId = $"collapse-{groupId}";

                            <div class="col-12 mb-4">
                                <h4>
                                    <button class="btn btn-primary" data-toggle="collapse" href="#@collapseId" role="button" aria-expanded="false" aria-controls="@collapseId">
                                        <i class="fas fa-caret-down" ></i>
                                        View Progress Percent: @group.Key%
                                    </button>
                                </h4>

                                <div class="collapse" id="@collapseId">
                                    <div class="row">
                                        @foreach (var image in group)
                                        {
                                            var base64 = Convert.ToBase64String(image.ImageData);
                                            var imgSrc = $"data:{image.ImageContentType};base64,{base64}";

                                            <div class="col-md-4 mb-3" style="border-radius:10px; padding: 5px; max-width: 150px; max-height: 150px; overflow: hidden;">
                                                <img src="@imgSrc" class="img-thumbnail popup-image" style="width: 100%; height: 100%; object-fit: cover;" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            groupId++;
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <span>No image(s) available.</span>
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>
</section>
