@model SiteOverseer.Models.FacilityProgress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FacilityProgress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FcilTskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FcilTskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmitDte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmitDte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevDteTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevDteTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
