@model SiteOverseer.Models.FacilityProgress

@{
    ViewData["Title"] = "Facility Progress";
}

@section Scripts {
    <script>
        document.getElementById('imageUpload').addEventListener('change', function (event) {
            const files = event.target.files;
            const imageError = document.getElementById('imageError');
            imageError.textContent = '';

            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                if (!file.type.startsWith('image/')) {
                    imageError.textContent = 'Only image files are allowed.';
                    event.target.value = '';
                    return;
                }

                if (file.size > 524288) {
                    imageError.textContent = 'Each image must be under 500 KB.';
                    event.target.value = '';
                    return;
                }
            }

            const uploadedImagesContainer = document.getElementById('uploadedImagesContainer');
            uploadedImagesContainer.innerHTML = '';

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const imgElement = document.createElement('img');
                    imgElement.className = 'img-thumbnail';
                    imgElement.style.width = '100%';
                    imgElement.style.height = '100%';
                    imgElement.style.objectFit = 'cover';
                    imgElement.src = e.target.result;

                    const divElement = document.createElement('div');
                    divElement.className = 'col-md-4';
                    divElement.style.borderRadius = '10px';
                    divElement.style.padding = '5px';
                    divElement.style.maxWidth = '200px';
                    divElement.style.maxHeight = '200px';
                    divElement.style.overflow = 'hidden';
                    divElement.appendChild(imgElement);

                    uploadedImagesContainer.appendChild(divElement);
                };

                reader.readAsDataURL(file);
            }

            const fileNames = Array.from(files).map(file => file.name).join(', ');
            document.querySelector('.custom-file-label').textContent = fileNames;
        });
    </script>
    <script>
        function updateRangeValue(value) {
            var rangeInput = document.querySelector('input[type=range]');
            rangeInput.value = Math.max(rangeInput.min, Math.min(rangeInput.max, value));
        }

        function updateNumberValue(value) {
            var numberInput = document.getElementById('progressValue');
            numberInput.value = Math.max(numberInput.min, Math.min(numberInput.max, value));
        }
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Edit</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Edit" asp-controller="FacilityProgresses" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ProgId" type="hidden" />
                            <input asp-for="FcilTskId" type="hidden" />

                            <div class="form-group">
                                <button class="btn btn-primary" onclick="ShowFcilTskDetails(FcilTskId)" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    View Facility Task Detail
                                </button>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <div id="partialContainer">
                                            <partial name="_FcilTskPartial" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Longitude" class="control-label">Longitude</label>
                                <input asp-for="Longitude" class="form-control" />
                                <span asp-validation-for="Longitude" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Latitude" class="control-label">Latitude</label>
                                <input asp-for="Latitude" class="form-control" />
                                <span asp-validation-for="Latitude" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProgPercent" class="control-label">Progress Percent</label>
                                <div class="d-flex align-items-center">
                                    <input asp-for="ProgPercent" id="progressValue" type="number" class="form-control" style="width: 70px;" min="@Model.ProgPercent" max="100" step="1" oninput="updateRangeValue(this.value)" />
                                    <span class="ml-1">%</span>
                                    <input asp-for="ProgPercent" type="range" class="form-control-range ml-2" min="@Model.ProgPercent" max="100" step="1" value="@Model.ProgPercent" oninput="updateNumberValue(this.value)" />
                                </div>
                                <span asp-validation-for="ProgPercent" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="imageUpload" class="d-flex justify-content-between align-items-center">
                                    <span>Select Image(s)</span>
                                    <span class="text-primary" style="font-size: 14px;">Note: Each image size must be smaller than 500 KB</span>
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="imageUpload" name="images" accept="image/*" multiple />
                                    <label class="custom-file-label" for="imageUpload">Choose file(s)</label>
                                </div>
                                <div id="imageError" class="text-danger mt-2"></div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Image(s)</label>
                        <div class="row" id="uploadedImagesContainer">
                            @foreach (var image in Model.Images)
                            {
                                <div class="col-md-4" style="border-radius:10px; padding: 5px; max-width: 200px; max-height: 200px; overflow: hidden;">
                                    <img src="data:@image.ImageContentType;base64,@Convert.ToBase64String(image.ImageData)" class="img-thumbnail" style="width: 100%; height: 100%; object-fit: cover;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
